<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367290213278-64tsh0ijofe88cvlp4pupd0ti9oe3akv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367290213278-64tsh0ijofe88cvlp4pupd0ti9oe3akv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>367290213278-siui82iqlfj5qtdkiovs2ne7ioeguagc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBwKruHkT_NIirNJbK48VIl8eiDNASSbrA</string>
	<key>GCM_SENDER_ID</key>
	<string>367290213278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.random.random</string>
	<key>PROJECT_ID</key>
	<string>random-53b6e</string>
	<key>STORAGE_BUCKET</key>
	<string>random-53b6e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367290213278:ios:3c28b8c655dc3558606c8f</string>
</dict>
</plist>